/* Global */

body {
    margin: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Components */

/* Navigation */
.navigation {
    display: flex;
    width: 100%;
    align-items: center;
}

.logo {
    padding: 1rem 2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 2rem;
    justify-self: flex-start;
    margin-right: 5rem;
}

nav {
    width: 100%;
}

nav ul {    
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    justify-content: center;
}

nav li {
    list-style: none;
    position: relative;
    right: 5rem;
}

nav a {
    display: inline-block;
    padding: 1rem;
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 0.9rem;
    letter-spacing: 0.10em;
    text-transform: uppercase;
}

nav a:hover {
    text-decoration: underline;
}

/* Hero */

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-color: #FFF495;
    font-family: Roboto;
    height: 30rem;
}

h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: 300;
    padding-right: 1rem;
    padding-left: 1rem;
}

.callToAction {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 300;
    padding-right: 1rem;
    padding-left: 1rem;
}

header a {
    font-weight: bold;
    color: black;
}

/* Main content */

.container {
    display: flex;
    width: 100%;
    max-width: 1300px;
    margin: auto;
    padding-top: 3rem;
    padding-bottom: 3rem;
    flex-wrap: wrap;    
}

.col-left {
    min-width: 300px;
    flex-grow: 1;
    flex-basis: 42.5%;
    padding-left: 1rem;
    padding-right: 1rem;
}

.col-right {
    flex-grow: 1;
    min-width: 300px;
    flex-basis: 42.5%;
    padding-left: 1rem;
    padding-right: 1rem;
}

.spacer {
    width: 5%;
}

h2 {
    font-family: 'Roboto';
}

.container p {
    font-size: 1.5rem;
    line-height: 1.6em;
}

/* Services */

.services {
    padding-top: 1rem;
    background-color:#F8F8F8;
}

.commonservices {
    text-align: center;
    font-size: 3rem;
    font-weight: 300;
}

/* Services columns */

.services-columns-container {
    display: flex;
    max-width: 1300px;
    margin: auto;
    padding-bottom: 3rem;
    flex-wrap: wrap;
}

.card {
    flex-grow: 1;
    flex-basis: 300px;
    padding: 1rem;
}

.card p {
    font-size: 1.25rem;
    line-height: 1.5em;
}

.card h2 {
    margin-top: 0rem;
}

/* Footer */

footer {
    width: 100%;
    background-color: black;
    color: white;
}

footer h2 {
    font-weight: 300;
    font-size: 2rem;
    padding-top: 1em;
    margin: auto;
    text-align: center;
}

.contactInfo {
    display: flex;
    margin: auto;
    max-width: 1300px;
    justify-content: center;
}

.contactSection {
    padding: 2rem;
}