.container-about {
    display: flex;
    width: 100%;
    /*max-width: 1300px;*/
    margin: auto;
    padding-top: 3rem;
    padding-bottom: 3rem;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.img-about {
    height: 400px;
}

.about1 { 
    width: 70%;

}

.about2 {
    width: 70%;
}

.about3 {
    width: 70%;
}