header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-color: #FFF495;
    font-family: Roboto;
    height: 30rem;
}

h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: 300;
    padding-right: 1rem;
    padding-left: 1rem;
}

.callToAction {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 300;
    padding-right: 1rem;
    padding-left: 1rem;
}

header a {
    font-weight: bold;
    color: black;
}

.container-about {
    display: flex;
    width: 100%;
    /*max-width: 1300px;*/
    margin: auto;
    padding-top: 3rem;
    padding-bottom: 3rem;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.img-about {
    align-self: flex-end;
}

.img-about img{
    width: 80vw;
    max-width: 700px;
    max-height: 300px;
}

.about { 
    align-self: center;
}

