.bookingContainer {
    display: flex;
    width: 100%;
    margin: 100px 0 100px 0;
    justify-content: center;
    flex-flow: column wrap;
    max-width: 1300px;
}

.a {
    flex-basis: 40%;
    flex-flow: column wrap;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    margin: 10px 0 10px 0;
    align-content: center;
}

#bookingMessage {
    flex-basis: 200px;
    font-style: italic;
    width: 800px;
}

#bookingTitle {
    flex: 0 0 40%;
    height: 50px;
    font-weight: bold;
    font-size: 30px;
    font-family: serif;
    width: 800px;
}

#bookingDate {
    font-size: 30px;
}

#bookingSubmit {
    flex: 0 0 10%;
    height: 50px;
    border-radius: 25px;
    font-size: 20px;
    width: 800px;
}

input {
    font-style: italic;
}

#b {
    width: 800px;
}