
.staffContainer {
display: flex;
justify-content: center; 
flex-wrap: wrap;
}

.staffIntro {
    width: 100%;
    height: 400px;
    background-color: #fff495;  
}

.staffContent {
    width: 33%;
    height: 600px;
    box-sizing: border-box;
    border-radius: 10px;
}

.staffImages {
    margin-top: 20px;
    width: 200px;
    height: 200px;
    display: block;
    margin: auto;
    padding: 0 0 0 0;
    border-radius: 100px;
    box-sizing: border-box;
}

.staffName {
    text-align: center;
    font-weight: bold;

}

.staffTitle {
    color: darkslategray;
    text-align: center;
}

.staffText {
    text-align: center;
    font-style: italic;
    color: darkslategray;
    width: 70%;
    line-height: 2.5em;
    display: block;
    margin: auto;
}

.staffHero {
    
}